<div class="flex flex-row w-full justify-between px-16">
    <ul class="flex flex-row gap-10">
        <li><a href="#" class="flex items-center py-6 font-medium">All</a></li>
        <li><a href="#" class="flex items-center py-6">Electronics</a></li>
        <li><a href="#" class="flex items-center py-6" >Jewelry</a></li>
        <li><a href="#" class="flex items-center py-6" >Men's Clothing</a></li>
        <li><a href="#" class="flex items-center py-6" >Women's Clothing</a></li>
    </ul>

    <div class="flex items-center bg-neutral-900 px-8">
        <a href="#" class="text-white font-medium">F-Commerce</a>
    </div>
</div>

@code {

}
