@page "/"
@using BlazorEcommerce.Components.Catalog

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-4">
    <h1 class="text-4xl mb-4">Our Catalogs</h1>

    <div class="grid lg:grid-cols-6 sm:grid-cols-3 h-[70vh] overflow-auto gap-8 p-2">
        @for (int i = 0; i < 10; i++)
        {
            <CardItem
                Title="Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops"
                Description="Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday"
                ImageUrl="https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg" />
        }
    </div>
</div>

